<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'component1.njk' %}
    {{ content | safe }}
    {% include 'component2.njk' %}
  </body>
</html>
